@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700');
*{
	font-family:'Noto Serif KR', Sans-serif;
	font-weight:400;
	color:#000000;
	margin:0px;
	padding:0px;
}
header{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
}
h2{
	position:relative;
	float:left;
	font-weight:700;
	top:0px;
	left:0px;
	padding:30px;
}
ul{
	float:right;
	list-style:none;
}
ul li{
	display:inline-block;
	width:150px;
	padding:30px 20px;
}
section{
	width:100vw;
	height:100vh;
}
#d0{
	background:#000000;
	text-align:center;
}
#d0 .wrapper
{
	margin:auto 0px;
}
#d0 .wrapper p{
	color:#ffffff;
}
#d1{
	background: url('img/the_demolition-01.png') center/cover;
}
#d2{
	background: url('img/the_demolition-02.png') center/cover;
}
#d3{
	background: url('img/the_demolition-03.png') center/cover;
}
#d4{
	background: url('img/the_demolition-04.png') center/cover;
}
#d5{
	background: url('img/the_demolition-05.png') center/cover;
}
#d6{
	background: url('img/the_demolition-06.png') center/cover;
}
#d7{
	background: url('img/the_demolition-07.png') center/cover;
}
#d8{
	background: url('img/the_demolition-08.png') center/cover;
}
#d9{
	background: url('img/the_demolition-09.png') center/cover;
}
#d10{
	background-color:#ffff00;
}
footer{
	text-align:center;
}
