@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700');
*{
	margin:0px;
	padding:0px;
}
body{
	font-family:'Noto Serif KR', Sans-serif;
	font-weight:400;
	font-size:12px;
	color:#000000;
}
header{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	font-size:1.5em;
}
header.white{
	color:#ffffff;
}
h2{
	position:relative;
	float:left;
	font-weight:700;
	top:0px;
	left:0px;
	padding:30px;
}
ul{
	float:right;
	width:400px;
	list-style:none;
}
ul li{
	display:inline-block;
	width:90px;
	padding:30px 20px;
	text-align:center;
	cursor:pointer;
}
section{
	width:100vw;
	height:100vh;
}
#d0{
	background:#000000;
	text-align:center;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#d0 .wrapper p{
	color:#ffffff;
}
headline{
	display:block;
	font-size:4em;
	color:#ffffff;
}
#d1{
	background: url('img/the_demolition-01.png') center/cover;
}
#d2{
	background: url('img/the_demolition-02.png') center/cover;
}
#d3{
	background: url('img/the_demolition-03.png') center/cover;
}
#d4{
	background: url('img/the_demolition-04.png') center/cover;
}
#d5{
	background: url('img/the_demolition-05.png') center/cover;
}
#d6{
	background: url('img/the_demolition-06.png') center/cover;
}
#d7{
	background: url('img/the_demolition-07.png') center/cover;
}
#d8{
	background: url('img/the_demolition-08.png') center/cover;
}
#d9{
	background: url('img/the_demolition-09.png') center/cover;
}
#d10{
	background-color:#ffff00;
}
.description{
	right:5%;
	bottom:5%;
	width:30%;
	height:20%;
	background-color:RGBA(0,0,0,0.7);
	visibility:hidden;
	color:#ffffff;
}
footer{
	text-align:center;
}
